<div class="detail-article col-sm-8 col-xs-12">
	<div class="detail-article-content">
		<h1>About</h1>
		<h3>#siattips</h3>
		<p>siattips is a website that contains helpful resources for graphic, web, interaction, UI and UX designers. These resources range anywhere from tips and tricks in Illustrator, HTML and CSS, to UX trends, patterns and inspirations.</p>

		<h3>The Creators</h3>
		<p>siattips is created and curated by Cassandra de Git and Christie Wong, two students from Simon Fraser University's <a href="http://siat.sfu.ca/">School of Interactive Arts &amp; Technology (SIAT)</a> program.</p>

		<h3>The Story</h3>
		<p>The idea for siattips emerged when we were working together at <a href="http://evidentpoint.com/"> Evident Point </a>as Co-op students. Our Co-op terms were coming to an end, and we dreaded the fact that we would have to write another work term report. One day at work, we were showing each other interesting tips we had found online, and then it suddenly struck us - why not build a website showcasing the various things we've learned for other SIAT students instead of writing a report?</p>

		<h3>The Construction</h3>
		<p>#siattips itself is built with technologies that were learned during our Co-op terms at <a href="http://evidentpoint.com/"> Evident Point </a> - <a href="http://backbonejs.org/">Backbone.js</a>, <a href="http://marionettejs.com/">Backbone-Marionette</a>, <a href="http://sass-lang.com/">Sass</a>, and <a href="http://getbootstrap.com/">Bootstrap</a>. Cassandra dealt with all the back-end development while Christie focused on the UI side of things.</p>

		<h3>Got a resource you want to share?</h3>
		<p>Drop us a line at <a href="mailto:">somekindofemailaddress@email.com</a> and we'll be sure to get in touch with you!</p>	
	</div>	
</div>

<div class="other-posts col-sm-4 col-xs-12">
	<div class="other-posts-content">
		<img src="http://placehold.it/200x200" />
	</div>
</div>