<div class="featured-container"></div>


<div class="filter-control">
	<div id="search-bar">
		<div class="input-group">
     		<input type="text" class="form-control" placeholder="Search">
		    	<span class="input-group-btn">
		        	<button type="submit" class="btn btn-default" type="button">
		        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		        	</button>
		      	</span>
    		</div>
	</div>
</div>

<div class="collection-container"></div>