<% for (var i = 1; i <= rating; i++) { %>
	<span class="glyphicon glyphicon-star"></span>
<% } %>
<% for (var i = rating + 1; i < 6; i++) { %>
	<span class="glyphicon glyphicon-star-empty"></span>
<% } %>