// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #EFEEEA;
}

#index-view, #detail-view {
	margin-top: 80px;
}

// Article

.article {
	float: left;
	background-color: white;
	border: 2px solid #CCCCCC;
	border-top: 5px solid #00ACC1;
	padding: 15px;
}

.image {
	width: 100%;
	margin-top: 10px;
}

.text {
	margin-top: 10px;
}

.date {
	float: left;
	padding: 0;
	text-align: left;
	color: #666666;
	font-size: 11px;
}

.ranking {
	float: right;
	padding: 0;
	text-align: right;
}

.date-ranking-part {
	margin: 30px 0 10px 0;
}

// Article Detail

.detail-article {
	background-color: white;
	border: 2px solid #CCCCCC;
	margin-bottom: 30px;
}

.detail-date-ranking-part {
	margin: 10px 0 20px 0;
}

.rate {
	margin: 50px 0 30px 0;
}

.other-posts {
	background-color: white;
	border: 2px solid #CCCCCC;
	float: right;
}